<a href="https://colab.research.google.com/github/jeraldflowers/Inferencial-statistic-basic-tools/blob/main/types_of_hypothesis_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd 
import numpy as np
import seaborn as sns
import scipy.stats as st
from scipy.stats import f_oneway
from scipy.stats import ttest_ind

In [11]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
iris = pd.read_csv(url, names=names)

In [12]:
iris.head()

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## Types of Tests

### a. T Student Distribution

In [13]:
se_length = iris.std()['sepal-length']/np.sqrt(10)
se_width = iris.std()['sepal-width']/np.sqrt(10)

<ipython-input-13-45936305ebaa>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  se_length = iris.std()['sepal-length']/np.sqrt(10)
<ipython-input-13-45936305ebaa>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  se_width = iris.std()['sepal-width']/np.sqrt(10)

### - Standard Error Deviation

In [14]:
sed = np.sqrt((se_length**2)+(se_width**2))

In [15]:
t_stat = (iris.mean()['sepal-length']-iris.mean()['sepal-width'])/sed
t_stat

<ipython-input-15-906994a1a2e5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  t_stat = (iris.mean()['sepal-length']-iris.mean()['sepal-width'])/sed

9.436693738890318

In [16]:
p = ttest_ind(iris['sepal-length'], iris['sepal-width'])
p

Ttest_indResult(statistic=36.548157693982006, pvalue=3.987838114848222e-112)

In conclusion the distributions are different. We are rejecting our null hypothesis.

### b. Correlation and Perason Coefficient

In [19]:
iris['sepal-length'].corr(iris['sepal-width'])

-0.10936924995064937

In [20]:
st.pearsonr(iris['sepal-length'], iris['sepal-width'])

(-0.10936924995064937, 0.1827652152713699)

### c. ANOVA - Variance Analysis

In [21]:
f_oneway(iris['sepal-length'], iris['sepal-width'])

F_onewayResult(statistic=1335.7678308241748, pvalue=3.9878381148486907e-112)